USE [master]
GO
/****** Object:  Database [TEST]    Script Date: 10.12.2024 15:27:22 ******/
CREATE DATABASE [TEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TEST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TEST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEST]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 10.12.2024 15:27:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[id_client] [int] NULL,
	[name_client] [nvarchar](max) NOT NULL,
	[fathername_client] [nvarchar](max) NULL,
	[secondname_client] [nvarchar](max) NULL,
	[email_client] [nvarchar](max) NULL,
	[phone_client] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Component]    Script Date: 10.12.2024 15:27:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Component](
	[id_comp] [int] NULL,
	[list_comp] [nvarchar](max) NULL,
	[cost_comp] [int] NULL,
	[date_order] [date] NULL,
	[date_delivery] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10.12.2024 15:27:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id_emp] [int] NULL,
	[name_emp] [nvarchar](max) NULL,
	[fathername_emp] [nvarchar](max) NULL,
	[secondname_emp] [nvarchar](max) NULL,
	[phone_emp] [nvarchar](max) NULL,
	[email_emp] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guarantee]    Script Date: 10.12.2024 15:27:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guarantee](
	[id_guar] [int] NULL,
	[client_guar] [int] NULL,
	[order_client] [int] NULL,
	[date_start_guar] [date] NULL,
	[date_end_guar] [date] NULL,
	[all_day_guar] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10.12.2024 15:27:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id_ord] [int] NULL,
	[employee] [int] NULL,
	[client] [int] NULL,
	[amount] [int] NULL,
	[components] [int] NULL,
	[end_date] [date] NULL
) ON [PRIMARY]
GO
USE [master]
GO
